.footer_color{
    background-color: $box-color;
}
.footer-content{
    margin-right: auto;
    text-align: center;
    margin-top: 20px;
}
.footer_content p{
    text-align: center;
    color: white;
    font-family: sans-serif;
    font-size: 28px;
}